.section__languages {
  background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 50%);
  overflow: hidden;
  position: relative;
  .bg-img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    @media (max-width:767px) {
      right: 0;
      left: 0;
      opacity: 0.2;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right 25%;
    }
  }
}

.language {
  &s {
    &__content {
      padding-top: 6rem;
      padding-bottom: 4rem;
      position: relative;
      & > * {
        //margin-bottom: 2rem;
      }
      @media (min-width: 768px) {
        width: 50%;
        margin-left: auto;
        padding-left: 3rem;
      }
      @media (max-width: 767px) {
        padding-left: 20px;
        padding-right: 20px;
      }
      p {
        margin-top: 1em;
      }
    }
  }
}